/*==============================================================
  # Variables.
==============================================================*/
:root {
  /* Colors. */
  --white:                          #FFFFFF;
  --black:                          #000000;
  --basalt-grey:                    #999999;
  --boulder-gray-grey:              #777777;

  --primary-color:                  #3353EA;
  --secondary-color:                #333333;
  --tertiary-color:                 #666666;

  --border-color:                   #DDDDDD;

  --box-shadow-color:               #DDDDDD;

  /* Font family. */
  --ff-body:                        "Montserrat", sans-serif;

  /* Font weights. */
  --fw-thin:                        100;
  --fw-extra-light:                 200;
  --fw-light:                       300;
  --fw-normal:                      400;
  --fw-medium:                      500;
  --fw-semibold:                    600;
  --fw-bold:                        700;
  --fw-extra-bold:                  800;
  --fw-heavy-black:                 900;
}

/*==============================================================
  # General.
==============================================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-medium);
  font-size: 14px;
  line-height: 24px;
  background-color: var(--white);
}

/* --- Links. --- */
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*==============================================================
  # Header.
==============================================================*/
.header {
  background-color: inherit;
}

/* --- Top-bar --- */
.top-bar {
  border-bottom: 1px solid var(--border-color);
}

.contact-info,
.social-media {
  display: inline-block;
  vertical-align: middle;
}

.contact-info {
  float: left;
  padding-top: 5px;
}

.contact-info ul li {
  display: inline-block;
  color: var(--tertiary-color);
  font-size: 13px;
}

.contact-info ul li a {
  color: inherit;
}

.contact-info ul li i {
  color: var(--primary-color);
  padding: 0 10px;
}

.social-media {
  float: right;
}

.social-media ul li {
  display: inline-block;
}

.social-media ul,
.quote-button {
  display: inline;
}

.social-media ul li {
  padding: 5px;
}

.social-media ul li i {
  color: var(--basalt-grey);
  font-size: 13px;
}

.social-media ul li i:hover {
  color: var(--primary-color);
}

.quote-button {
  margin-left: 10px;
}

.quote-button .btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: var(--fw-semibold);
  background-color: var(--primary-color);
  border-radius: 0;
  color: var(--white);
}

/* --- Main Menu. --- */
.main-menu {
  padding: 15px 0;
}

.menu {
  position: relative;
}

.menu ul li a {
  font-size: 14px;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  padding: 10px 12px;
  border-radius: 3px;
}

.menu ul li a {
  /*margin-right: 7px;*/
}

.menu li a {
  color: var(--boulder-gray-grey);
}

.menu li.active a,
.menu li a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}


.menu li .dropdown {
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 200px;
  background-color: var(--secondary-color);
  border-bottom: 4px solid var(--primary-color);
  box-shadow: 0 5px 5px #3333334d;
  transition: opacity 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  visibility: hidden;
}

.menu li:hover .dropdown {
  visibility: visible;
}

.menu .dropdown li {
  margin: 0;
  padding: 0;
}

.menu .dropdown li a {
  display: block;
  position: relative;
  padding: 12px 15px;
  color: var(--secondary-color);
  background-color: var(--white);
  font-weight: var(--fw-normal);
  text-transform: capitalize;
  border-radius: 0;
}

.menu .dropdown li a:hover {
  padding-left: 20px;
}

.menu .dropdown li i {
  font-size: 9px;
  margin-top: 4px;
  float: right;
}

.menu .dropdown li:hover a {
  color: var(--primary-color);
}

/* --- Sub Dropdown. --- */
.menu .dropdown {
  position: relative;
}

.menu .dropdown .sub-dropdown {
  position: absolute;
  top: 0;
  left: 110%;
  color: var(--secondary-color);
  width: 190px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.menu .dropdown li:hover .sub-dropdown {
  visibility: visible;
  opacity: 1;
  left: 100%;
}

.dropdown .sub-dropdown li a {
  color: var(--secondary-color);
}

.dropdown .sub-dropdown li a:hover {
  color: var(--primary-color);
}

/* --- Right Bar. --- */
.right-bar {
  padding: 0 25px;
}

.right-bar .search {
  margin-right: 10px;
}

.right-bar a {
  font-size: 15px;
}

/* --- Search. --- */
.search-form {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background-color: var(--border-color);
  padding: 7px;
  border-radius: 5px;
  transform: scaleY(0);
  box-shadow: 0 4px 7px var(--basalt-grey);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

.search-top.active .search-form {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.search-form input {
  padding: 0 45px 0 20px;
  background-color: var(--white);
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  line-height: 45px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

.search-form button {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 10px;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  border-radius: 0 3px 3px 0;
}

.search-form button:hover {
  color: var(--secondary-color);
}




