/*==============================================================
  # Variables.
==============================================================*/
:root {
  /* Colors. */
  --white:                          #FFFFFF;
  --black:                          #000000;
  --red:                            #F44336;
  --light-gray:                     #DDDDDD;
  --basalt-grey:                    #999999;
  --boulder-gray-grey:              #777777;

  --primary-color:                  #3353EA;
  --secondary-color:                #333333;
  --tertiary-color:                 #666666;

  /* Font family. */
  --ff-body:                        "Montserrat", sans-serif;

  /* Font weights. */
  --fw-thin:                        100;
  --fw-extra-light:                 200;
  --fw-light:                       300;
  --fw-normal:                      400;
  --fw-medium:                      500;
  --fw-semibold:                    600;
  --fw-bold:                        700;
  --fw-extra-bold:                  800;
  --fw-heavy-black:                 900;
}

/*==============================================================
  # General.
==============================================================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-medium);
  font-size: .9rem;
  line-height: 1.5;
  background-color: var(--white);
}

/* --- Links. --- */
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*==============================================================
  # Header.
==============================================================*/
.header {
  background-color: inherit;
}

/* --- Top-bar --- */
.top-bar {
  border-bottom: 1px solid var(--light-gray);
  font-size: .80rem;
}

.contact-info {
  padding: .9em 0;
}

.contact-info span {
  display: inline-block;
  color: var(--tertiary-color);
}

.contact-info span a {
  color: inherit;
}

.contact-info span i {
  color: var(--primary-color);
  margin: 0 .8em;
}

.contact-info span:first-child i {
  margin-left: 0;
}

.social-media {
  float: right;
}

.social-media ul,
.social-media li,
.social-media .quote-button {
  display: inline-block;
}

.social-media li {
  margin-right: .8em;
}

.social-media li i {
  color: var(--basalt-grey);
}

.social-media ul li i:hover {
  color: var(--primary-color);
}

.quote-button .btn {
  padding: .75em 1.25em;
  font-size: 0.9rem;
  font-weight: var(--fw-semibold);
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 0;
}

/* Medium devices (tablets, 768px and up). */
@media (max-width: 768px) {
  .contact-info span i {
    margin: 0 .5em;
  }

  .social-media li {
    margin-right: .5em;
  }
}

/* Small devices (landscape phones, 576px and up). */
@media (max-width: 576px) {
  .contact-info span {
    display: block;
    text-align: center;
    margin: .5em 0;
  }

  .social-media {
    float: none;
    text-align: center;
  }

  .quote-button {
    margin-left: 1em;
  }
}

/* --- Main Menu. --- */
.main-menu {
  padding: 1.5em 0;
}

.main-menu nav {
  position: relative;
}

/* --- Left Bar. --- */
.left-bar a {
  padding: .75em 1em;
  margin: 0 .2em;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  border-radius: 3px;
}

.left-bar a {
  color: var(--boulder-gray-grey);
}

.left-bar .active a,
.left-bar a:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

/* --- Dropdown List. --- */
.left-bar li .dropdown {
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 200px;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: 0 5px 5px #3333334d;
  transition: opacity 0.3s ease;
  visibility: hidden;
}

.left-bar li:hover .dropdown {
  visibility: visible;
}

.left-bar .dropdown li a {
  display: block;
  position: relative;
  padding: .75em 1em;
  color: var(--secondary-color);
  background-color: var(--white);
  font-weight: var(--fw-normal);
  text-transform: capitalize;
}

.left-bar .dropdown li a:hover {
  padding-left: 1.2em;
}

.left-bar .dropdown li i {
  font-size: .6rem;
  float: right;
}

.left-bar .dropdown li:hover a {
  color: var(--primary-color);
}

/* --- Sub Dropdown List. --- */
.left-bar .dropdown {
  position: relative;
}

.left-bar .dropdown .sub-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  color: var(--secondary-color);
  width: 190px;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.left-bar .dropdown li:hover .sub-dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown .sub-dropdown li a {
  color: var(--secondary-color);
}

.dropdown .sub-dropdown li a:hover {
  color: var(--primary-color);
}

/* --- Right Bar. --- */
.right-bar {
  margin-left: auto;
}

.right-bar .search {
  margin-right: .5em;
}

.right-bar a {
  font-size: .9rem;
}

/* --- Search. --- */
.search-form {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background-color: var(--light-gray);
  padding: .4em;
  border-radius: 5px;
  transform: scaleY(0);
  box-shadow: 0 4px 7px var(--basalt-grey);
  transition: all 0.5s ease;
}

.search-top.active .search-form {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
}

.search-form input {
  padding: 0 2.8em 0 1.25em;
  background-color: var(--white);
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  line-height: 2.8em;
  transition: all 0.4s ease;
}

.search-form button {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: .6em;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  border-radius: 0 3px 3px 0;
}

.search-form button:hover {
  color: var(--secondary-color);
}

/* --- Sidebar -- */
.sidebar-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1;
  width: 25%;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--basalt-grey);
  transition: all 0.7s ease, opacity 0.5s ease, visibility 0s 0.9s;
}

.sidebar-menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.sidebar-menu .cross {
  color: var(--red);
  cursor: pointer;
  margin: .9em 1.25em;
  font-size: 1.1rem;
}

.sidebar-menu .content {
  margin: 0 3em;
}

.content .line {
  padding: .5em 0;
}

.content h4 {
  position: relative;
  padding: .5em 0;
  font-weight: var(--fw-semibold);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.content h4:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  height: 2px;
  width: 38px;
  background-color: var(--primary-color);
}

.content .line p {
  text-align: justify;
}

.content .menu-links li a {
  color: inherit;
  text-transform: capitalize;
}

.content .menu-links li a:hover {
  color: var(--primary-color);
}

.content .social li {
  display: inline-block;
  margin: .3em .5em 0 0;
}

.content .social li a {
  display: block;
  height: 35px;
  width: 35px;
  line-height: 2.3em;
  text-align: center;
  font-size: .9rem;
  color: var(--basalt-grey);
  background-color: transparent;
  border: 1px solid var(--light-gray);
  border-radius: 100%;
}

.social li a:hover,
.social li.active a {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: transparent;
}